body {
    background-color: #f4f4f4;
    font-family: "Frutiger Roman", "Frutiger Light", Frutiger, "Frutiger Linotype", Univers, Calibri, "Helvetica Neue", Arial, Verdana, sans-serif;
}

.header {
    background-color: #3399fd;
    color: #ffffff;
}

.header__content {
    margin: 0 10px;
    position: relative;
}

@media (min-width: 748px) {
    .header__content {
        padding: 0;
        margin: 0 auto;
        max-width: 728px;
    }
}

.header__title {
    font-size: 34px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    /* To force every word onto a new line */
    max-width: 120px;
}

@media (min-width: 600px) {
    .header__title {
        font-size: 70px;
        /* To force every word onto a new line */
        max-width: 250px;
    }
}

.header__menu-button {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: transparent;
    border: 0;
}

@media (min-width: 600px) {
    .header__menu-button {
        top: 15px;
    }
}

.header__message-button {
    font-size: 16px;
    padding: 14px 12px;
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .header__message-button {
        padding: 17px 12px;
        position: absolute;
        right: 0;
        bottom: 20px;
    }
}

.thank-you-notes {
    margin-bottom: 20px;
}

.thank-you-note {
    border-size: 2px;
    border-style: solid;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

@media (min-width: 748px) {
    .thank-you-note {
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 728px;
    }
}

.thank-you-note__title {
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
}

.thank-you-note__content {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    max-width: 600px;
}

.thank-you-note__meta {
    color: #999999;
}

.thank-you-note--colour-1 {
    color: #3399fd;
    border-color: #3399fd;
}

.thank-you-note--colour-2 {
    color: #259eba;
    border-color: #259eba;
}

